[build]
  publish = "."

[[redirects]]
  from = "https://www.alaskaglow.com/*"
  to = "https://alaskaglow.com/:splat"
  status = 301
  force = true

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
